form > div > button{
    background-color: aqua;
    color: blue;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
form > div > input {
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
div{
    background-color: rgb(11, 222, 246);
    margin: 10px;
    padding: 10px;
    border:2px solid grey;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}
form input {
    background-color: beige;
    border-radius: 2px;
    margin: 5px;
    padding: 10px;
}
form button {
    background-color: rgb(8, 97, 89);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}