input{
    margin-left: 10px;
}
form{
    margin: 10px;
}
*{
    justify-self: center;
    margin: 10px;
}
button{
    background-color: green;
    border: 2px solid green;
    border-radius: 5px;
    color: white;
}